*{
    margin:0;
    padding:0;
}
input#file-upload-button{
    height:100%;
    border-color:transparent !important;
}
.bg-sidebar,.dark\:bg-gray-800{
    background:#ffffff !important;
}
/* .active span{
    color:#000000 !important;
}
.active span:hover{
    color:#ffffff !important;
}
.nav-link span{
    color: #ffffff !important;
} */

.background-space::before{
    position:absolute;
    inset:0;
    background:#00000073;
    content:"";
    top:0;
    left:0;
    z-index:1;
}